* * * * * sh /root/wmf_1100_1500_5000_router/add_cron_jobs.sh
* * * * * sh /root/wmf_1100_1500_5000_router/start_error_collector.sh
0 * * * * sh /root/wmf_1100_1500_5000_router/git_pull_autorestart.sh
*/5 * * * * sh /root/wmf_1100_1500_5000_router/run_daily_telegram_report_v2.sh
*/5 * * * * sh /root/wmf_1100_1500_5000_router/check_internet.sh
* * * * * sh /root/wmf_1100_1500_5000_router/run_check_machine_status.sh
* * * * * sh /root/wmf_1100_1500_5000_router/run_check_cleaning_state.sh
3 22 * * * sh /root/wmf_1100_1500_5000_router/run_clean_db.sh
* * * * * sh /root/wmf_1100_1500_5000_router/run_send_ip_address.sh
